<template>

    <div class="layout-padding">
        <router-link to="/pessoas">
          <q-btn color="primary" >Voltar</q-btn>
        </router-link>
        <br><br>
        <div class="">
          <div style="width: 500px; max-width: 90vw;">
            <q-input 
              v-model="pessoa.nome" 
              placeholder="Nome"
              @blur="$v.pessoa.nome.$touch"
              :error="$v.pessoa.nome.$error" />

            <q-datetime
                v-model="pessoa.dtNascimento"
                :max="today"
                float-label="Data de Nascimento"
                format="DD/MM/YYYY"
                ok-label="Selecionar"
                clear-label="Limpar"
                cancel-label="Cancelar"
                :month-names=month
                :day-names=days
                @blur="$v.pessoa.dtNascimento.$touch"
                :error="$v.pessoa.dtNascimento.$error"
                />
            

            <q-input 
              v-model="pessoa.docIndentificacao" 
              placeholder="Doc. Indentificação"
              @blur="$v.pessoa.docIndentificacao.$touch"
              :error="$v.pessoa.docIndentificacao.$error" />

            <q-select
              v-model="pessoa.sexo"
              :options="options"
              @blur="$v.pessoa.sexo.$touch"
              :error="$v.pessoa.sexo.$error"
            />  

            <q-input 
            v-model="pessoa.endereco" 
            placeholder="Endereço"
            @blur="$v.pessoa.endereco.$touch"
            :error="$v.pessoa.endereco.$error" />

          </div>
          <q-btn v-if="!isView" color="primary" @click="save">Salvar</q-btn>
        </div>  
    </div>

</template>

<script>
import {
  QInput,
  QBtn,
  QField,
  QDatetime,
  QSelect
} from 'quasar'

import { required } from 'vuelidate/lib/validators'
import { Toast } from 'quasar'
import moment from 'moment';
moment.locale('pt-BR');

const today = new Date();

export default {
  components: {
    QInput,
    QBtn,
    QField,
    QDatetime,
    Toast,
    QSelect
  },
  data () {
    return {
      pessoa : {
        nome : '',
        dtNascimento : '',
        docIndentificacao : '',
        sexo: '',
        endereco : ''
      },
      today,
      month: ["Janeiro", "Fevereiro", "Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"],
      days:["Domingo", "Segunda", "Terça", "Quarta", "Quinta","Sexta","Sábado"],
      baseUrl : 'http://127.0.0.1:8000',
      options: [
        {
          label: 'Feminino',
          value: 'F'
        },
        {
          label: 'Masculino',
          value: 'M'
        }
      ],
      isView: false,
    }
  },
  validations: {
    pessoa: {
      nome: { required },
      dtNascimento: { required },
      docIndentificacao: { required },
      endereco: { required },
      sexo: { required }
    }
  },
  methods: {
    save(props) {
        //valida se é método de editar ou inserir    
        let idCrud = typeof this.$route.params.id != "undefined" && this.$route.params.id != '' ? this.$route.params.id : null;
        if(idCrud != null) {
            console.log("chegou edit");
            this.edit(idCrud);
        } else {
          console.log("chegou insert");
            this.insert(idCrud);
        }
    },
    insert () {
      this.$v.pessoa.$touch();
      

      if (this.$v.pessoa.$error) {
        Toast.create('Favor preencher os campos obrigatórios');
        return
      }

      if(!this.validaData){
        Toast.create('Formato de data inválido');
        return
      }
      let formatDtNascimento = moment(this.pessoa.dtNascimento).format("DD/MM/YYYY"); 
      this.pessoa.dtNascimento = formatDtNascimento;
      let that = this;
      axios.post(`${this.baseUrl}/api/pessoas`,this.pessoa)
      .then(function (response) {
        Toast.create('Registro cadastrado com sucesso');
        that.$router.push("/pessoas");
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    edit () {
      this.$v.pessoa.$touch();
      
      if (this.$v.pessoa.$error) {
        Toast.create('Favor preencher os campos obrigatórios');
        return
      }

      if(!this.validaData){
        Toast.create('Formato de data inválido');
        return
      }
      let formatDtNascimento = moment(this.pessoa.dtNascimento).format("DD/MM/YYYY"); 
      this.pessoa.dtNascimento = formatDtNascimento;
      let that = this;
      axios.put(`${this.baseUrl}/api/pessoas`,this.pessoa)
      .then(function (response) {
        Toast.create('Registro alterado com sucesso');
        that.$router.push("/pessoas");
      })
      .catch(function (error) {
        Toast.create('Ocorreu um erro ao editar registro');
        console.log(error);
      });
    },
    validaData() {
      let dataNasc  = this.pessoa.dtNascimento;
      if(dataNasc != ''){
        let valorData = '';
        valorData = this.pessoa.dtNascimento;
        valorData=valorData.replace(/\D/g,"");
        valorData=valorData.replace(/(\d{2})(\d)/,"$1/$2");
        valorData=valorData.replace(/(\d{2})(\d)/,"$1/$2");
        this.pessoa.dtNascimento = valorData.replace(/(\d{2})(\d{2})$/,"$1$2");
        if(valorData.length > 10){
            this.isValidDate = false;
            return false;
        }else{
          if(valorData.length < 10){
            this.isValidDate = false;
          }else{
            this.isValidDate = moment(valorData, "DD/MM/YYYY").isValid();
          }
        }
      }else{
        this.isValidDate = true;
      }
    },
  },
  mounted(){

    //se isView estiver setado significa que é apenas visualizacao
    this.isView = typeof this.$route.params.visualizar != "undefined" && this.$route.params.visualizar != '' ? true: false;
    //se idCrud estiver setado significa que foi acao de editar, se estive vazio é insert
    let idCrud = typeof this.$route.params.id != "undefined" && this.$route.params.id != '' ? this.$route.params.id : null;
    //se idDel estiver setado significa que foi acao de deletar
    let idDel = typeof this.$route.params.idDel != "undefined" && this.$route.params.idDel != '' ? this.$route.params.idDel : null;

    if(idCrud != null && idDel != null) {
        Toast.create('Ocorreu um erro ao selecionar ação de pessoa');
        window.history.back();
        return false;
    }

    //busca informações
    if(idCrud != null && idDel == null) {
        let that = this;
        axios.get(`${that.baseUrl}/api/pessoas/${idCrud}`)
            .then((response) => {
              that.pessoa.id = response.data.id;
              that.pessoa.nome = response.data.nome;
              moment.locale('pt-BR');              
              let formatDtNascimento = moment(response.data.dt_nascimento).format("DD-MM-YYYY");
              this.pessoa.dtNascimento = formatDtNascimento;
              that.pessoa.docIndentificacao = response.data.doc_identificacao;
              that.pessoa.sexo = response.data.sexo;
              that.pessoa.endereco = response.data.endereco;               
                
            })
            .catch((error) => {
                Toast.create('Ocorreu um erro ao buscar informações');
                window.history.back();
                return false;
            });
    } 

  } 
  
    
}
</script>

<style lang="stylus">
.logo-container
  width 255px
  height 242px
  perspective 800px
  position absolute
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)
.logo
  position absolute
  transform-style preserve-3d
</style>
