<template>
  <q-layout
    ref="layout"
    view="lHh Lpr fff"
    :left-class="{'bg-grey-2': true}"
  >
  <h3 class="textoCenter">Gráfico por idade</h3>
  <idade></idade>

  <br><br>

  <h3 class="textoCenter">Gráfico por sexo</h3>
  <sexo></sexo>
    
  </q-layout>
</template>

<script>
import {
  QLayout,
  QToast
} from 'quasar'

import Idade from './GraficoIdade'
import Sexo from './GraficoSexo'

export default {
  components: {
   QToast,
   QLayout,
   Idade,
   Sexo
  },
  data () {
    return {
     
    }
  },
  mounted () {
  }
    
}
</script>

<style lang="stylus">
.textoCenter{
  text-align: center;
}
</style>
