<template>
  <q-layout
    ref="layout"
    view="lHh Lpr fff"
    :left-class="{'bg-grey-2': true}"
  >
    <q-toolbar slot="header" class="glossy">
      <q-btn
        flat
        @click="$refs.layout.toggleLeft()"
      >
        <q-icon name="menu" />
      </q-btn>

      <q-toolbar-title>
        Quasar App
      </q-toolbar-title>
    </q-toolbar>

    <div slot="left">
     
      <q-list no-border link inset-delimiter>
        <q-list-header>Essential Links</q-list-header>
        <router-link to="/pessoas">
          <q-item>
            <div>Pessoas</div>
          </q-item>
        </router-link>
        <router-link to="/graficos">
          <q-item>
            <div>Gráficos</div>
          </q-item>
        </router-link>
        
      </q-list>
    </div>

    <!--<div class="layout-padding logo-container non-selectable no-pointer-events">
      <div class="logo" >
       Olá! Bem-vindo.
      </div>
    </div>-->

    <!--
      Replace following <div> with
      <router-view /> component
      if using subRoutes
    -->
    <router-view />
  </q-layout>
</template>

<script>
import {
  dom,
  event,
  openURL,
  QLayout,
  QToolbar,
  QToolbarTitle,
  QBtn,
  QIcon,
  QList,
  QListHeader,
  QItem,
  QItemSide,
  QItemMain,
  QSideLink
} from 'quasar'


import List from './List.vue';

export default {
  components: {
    QLayout,
    QToolbar,
    QToolbarTitle,
    QBtn,
    QIcon,
    QList,
    QListHeader,
    QItem,
    QItemSide,
    QItemMain,
    List,
    QSideLink
  },
  data () {
    return {
     
    }
  },
  mounted(){
   this.$route.router.go('/pessoas');
  },
  methods: {
    
   
  },
  mounted () {
  }
    
}
</script>

<style lang="stylus">
.logo-container
  width 255px
  height 242px
  perspective 800px
  position absolute
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)
.logo
  position absolute
  transform-style preserve-3d
</style>
