<template>
  <div class="layout-padding">
   <router-link to="/pessoas/nova"><q-btn icon="create">Novo Registro</q-btn></router-link>
   <br><br>
    <q-data-table
      :data="table"
      :config="config"
      :columns="columns"
      @refresh="refresh"
      @selection="selection"
      @rowclick="rowClick"
    >
      <template slot="col-message" slot-scope="cell">
        <span class="light-paragraph">{{cell.data}}</span>
      </template>
      <template slot="col-source" slot-scope="cell">
        <div v-if="cell.data === 'Audit'" class="my-label text-white bg-primary">
          Audit
          <q-tooltip>Some data</q-tooltip>
        </div>
        <div v-else class="my-label text-white bg-negative">{{cell.data}}</div>
      </template>

      <template slot="selection" slot-scope="props">
        <q-btn flat color="primary" @click="editRow(props)">
          <q-icon name="edit" />
        </q-btn>
        <q-btn flat color="primary" @click="deleteRow(props)">
          <q-icon name="delete" />
        </q-btn>
      </template>
    </q-data-table>
  </div>
</template>

<script>
import {
  QDataTable,
  QField,
  QInput,
  QCheckbox,
  QSelect,
  QSlider,
  QBtn,
  QIcon,
  QTooltip,
  QCollapsible,
  clone,
  Toast
  
} from 'quasar'
//import table from 'data/table.json'
export default {
  components: {
    QDataTable,
    QField,
    QInput,
    QCheckbox,
    QSelect,
    QSlider,
    QIcon,
    QTooltip,
    QCollapsible,
    QBtn,
    Toast
  },
  methods: {
    loadGrid(){
      //buscando informações do servidor back-end
      let that = this;
      axios.get(`${this.baseUrl}/api/pessoas`)
      .then(function (response) {
        that.table = response.data;
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    editRow (props) {
      //pega o nome da rota atual
      let nameRoute = this.$route.path;
      //concatena o nome da rota atual com a ação inserir
      nameRoute = nameRoute+'/editar';
      this.$router.push({ name: nameRoute, params: {id: props.rows[0].data.id } });
    },
    deleteRow (props) {
      // //pega o nome da rota atual
      // let nameRoute = this.$route.path;
      // //concatena o nome da rota atual com a ação inserir
      // nameRoute = nameRoute+'/deletar';
      // this.$router.push({ name: nameRoute, params: {idDel: props.rows[0].data.id } });
      let idDelete = props.rows[0].data.id;
      let that = this;
      axios.delete(`${that.baseUrl}/api/pessoas/${idDelete}`)
          .then((response) => {
            Toast.create('Registro removido com sucesso');
            this.loadGrid();

          })
          .catch((error) => {
              Toast.create('Ocorreu um erro ao buscar informações');
              //window.history.back();
              return false;
          });
      //this.dialogDeletar = true;



    },
    refresh (done) {
      this.timeout = setTimeout(() => {
        done()
      }, 5000)
    },
    selection (number, rows) {
     // console.log(`selected ${number}: ${rows}`)
    },
    rowClick (row) {
      //console.log('clicked on a row', row)
    }
  },
  beforeDestroy () {
    clearTimeout(this.timeout)
  },
  data () {
    return {
      table : [],
      baseUrl : 'http://127.0.0.1:8000',
      config: {
        title: 'Listagem de Pessoas',
        refresh: false,
        noHeader: false,
        columnPicker: false,
        leftStickyColumns: 0,
        rightStickyColumns: 2,
        bodyStyle: {
          maxHeight: '500px'
        },
        rowHeight: '50px',
        responsive: true,
        pagination: {
          rowsPerPage: 15,
          options: [5, 10, 15, 30, 50, 500]
        },
        selection: 'single'
      },
      columns: [
        {
          label: 'ID',
          field: 'id',
          width: '30px',
        },
        {
          label: 'Nome',
          field: 'nome',         
          width: '250px',
        },
        {
          label: 'Data Nascimento',
          field: 'dt_nascimento',
          width: '100px',
        }
      ],
      pagination: true,
      rowHeight: 50,
      bodyHeightProp: 'maxHeight',
      bodyHeight: 500
    }
  },
  watch: {
    //métodos padrão para paginação e interação da datatable
    pagination (value) {
      if (!value) {
        this.oldPagination = clone(this.config.pagination)
        this.config.pagination = false
        return
      }
      this.config.pagination = this.oldPagination
    },
    rowHeight (value) {
      this.config.rowHeight = value + 'px'
    },
    bodyHeight (value) {
      let style = {}
      if (this.bodyHeightProp !== 'auto') {
        style[this.bodyHeightProp] = value + 'px'
      }
      this.config.bodyStyle = style
    },
    bodyHeightProp (value) {
      let style = {}
      if (value !== 'auto') {
        style[value] = this.bodyHeight + 'px'
      }
      this.config.bodyStyle = style
    }
  },
  mounted(){
    this.loadGrid();
  }
}
</script>

<style lang="stylus">
.my-label
  padding 5px
  border-radius 3px
  display inline-block
</style>